<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <connectionStrings>
        <add name="BookStoreDB" 
             connectionString="Server=localhost;Database=QuanLyCuaHangBanSach;Uid=root;Pwd=;CharSet=utf8mb4;SslMode=none;" 
             providerName="MySql.Data.MySqlClient" />
    </connectionStrings>
    
    <appSettings>
        <add key="AppName" value="Quản Lý Cửa Hàng Bán Sách" />
        <add key="Version" value="1.0.0" />
    </appSettings>
</configuration>